{% extends "mathFarmApp/layout.html" %}
{% load static %}

{% block head %}
    <script type="text/javascript"> 
        var operationType = "{{ type }}";
    </script>
    <script src="{% static 'mathFarmApp/utils.js' %}"></script>
    <script src="{% static 'mathFarmApp/script.js' %}"></script>
{% endblock %}


{% block body %}
    <h2>Here's your {{ type }} math exercise! Good luck!</h2>
    <h2>How much is {{ verb }}</h2>
    <form action="{% url 'exercise' '{{ type }}' %}" method="post" id="answer_form">
        {% csrf_token %}
        <div class="form-group">
            <label for="answer">Answer</label>
            <input type="hidden" name="action" value="nullValue" id="score">
            <input type="number" class="form-control" id="answer" placeholder="Enter your answer">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="alert alert-success d-none" id="correct_alert" role="alert">
        Yay! You got it right! Here, take a point. 
    </div>
    <div class="alert alert-danger d-none" id="incorrect_alert"role="alert">
        Oh, no! Your answer isn't right. No point for you. 
    </div>
{% endblock %}